
<h1 class="col-xs-12 text-center font-size-30-xs">Comparar Planos</h1>

<form class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3
    padding-vertical-50 padding-top-20-xs padding-bottom-30-xs border-default-bottom">

  <div class="col-xs-12 col-sm-4">
    <label for="origem" class="text-center block">Origem</label>
    <select id="origem" class="form-control">
      <options></options>
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 margin-top-10-xs">
    <label for="destino" class="text-center block">Destino</label>
    <select id="destino" class="form-control">
      <options></options>
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 margin-top-10-xs">
    <label for="tempo" class="text-center block">Tempo</label>
    <input id="tempo" type="text" class="form-control">
  </div>

</form>

<section class="col-xs-12 col-sm-10 col-sm-offset-1 text-center margin-vertical-50 margin-vertical-30-xs font-size-13-xs">

  <label class="col-xs-6 col-sm-3 border-default-right margin-top-10-xs">
    Fale + 30<br>
    R$ <span class="font-size-30 font-size-20-xs font-weight-normal">355</span>,00
  </label>

  <label class="col-xs-6 col-sm-3 border-default-right margin-top-10-xs">
    Fale + 60<br>
    R$ <span class="font-size-30 font-size-20-xs font-weight-normal">355</span>,00
  </label>

  <label class="col-xs-6 col-sm-3 border-default-right margin-top-10-xs">
    Fale + 120<br>
    R$ <span class="font-size-30 font-size-20-xs font-weight-normal">355</span>,00
  </label>

  <label class="col-xs-6 col-sm-3 margin-top-10-xs">
    Normal<br>
    R$ <span class="font-size-30 font-size-20-xs font-weight-normal">355</span>,00
  </label>

</section>
