
<h1 class="col-xs-12 text-center font-size-30-xs">Comparar Planos</h1>

<form class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3
    padding-vertical-50 padding-top-20-xs padding-bottom-30-xs border-default-bottom">

  <div class="col-xs-12 col-sm-4">
    <label for="origem" class="text-center block">Origem</label>
    <select id="origem" class="form-control" ng-model="origem" ng-options="i.ddd as i.city for i in ctrl.ddd.data">
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 margin-top-10-xs">
    <label for="destino" class="text-center block">Destino</label>
    <select id="destino" class="form-control" ng-model="destino" ng-options="i.ddd as i.city for i in ctrl.ddd.data">
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 margin-top-10-xs">
    <label for="tempo" class="text-center block">Tempo</label>
    <input ng-model="tempo" id="tempo" type="text" class="form-control">
  </div>

</form>

<section class="col-xs-12 col-sm-10 col-sm-offset-1 text-center margin-vertical-50 margin-vertical-30-xs font-size-13-xs">

  <label ng-repeat="plano in ctrl.planos.data" class="col-xs-6 col-sm-3 border-default-right margin-top-10-xs">
    <span ng-bind="plano.plan"></span><br>
    <span class="text-center font-size-20 margin-top-5 block" ng-if="!tempo">-</span>
    <span ng-if="tempo">
      R$ <span ng-bind="plano.time" class="font-size-30 font-size-20-xs font-weight-normal"></span>,00
    </span>
  </label>

  <label class="col-xs-6 col-sm-3 margin-top-10-xs">
    Normal<br>
    <span class="text-center font-size-20 margin-top-5 block" ng-if="!tempo">-</span>
    <span ng-if="tempo">
      R$ <span class="font-size-30 font-size-20-xs font-weight-normal">355</span>,00
    </span>
  </label>

</section>
