
<h1 class="col-xs-12 text-center font-size-30-xs">Comparar Planos</h1>

<form class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3
    padding-vertical-50 padding-top-20-xs padding-bottom-30-xs border-default-bottom">

  <div class="col-xs-12 col-sm-5 padding-left-5 padding-horizontal-0-xs">
    <label for="origem" class="text-center block">Origem</label>
    <select id="origem" class="form-control" ui-select2 ng-model="origem" ng-change="preco=ctrl.obterPreco(origem, destino)">
      <option value=""></option>
      <option ng-repeat="i in ctrl.ddd" value="{{i.ddd}}">{{i.ddd}} - {{i.city}}</option>
    </select>
  </div>

  <div class="col-xs-12 col-sm-5 margin-top-10-xs padding-left-5 padding-horizontal-0-xs">
    <label for="destino" class="text-center block">Destino</label>
    <select id="destino" class="form-control" ui-select2 ng-model="destino" ng-change="preco=ctrl.obterPreco(origem, destino)">
      <option value=""></option>
      <option ng-repeat="i in ctrl.ddd" value="{{i.ddd}}">{{i.ddd}} - {{i.city}}</option>
    </select>
  </div>

  <div class="col-xs-12 col-sm-2 margin-top-10-xs padding-horizontal-5 padding-horizontal-0-xs">
    <label for="tempo" class="text-center block">Tempo</label>
    <input ng-model="tempo" id="tempo" type="text" class="form-control text-center" maxlength="3" mask="999" mask-restrict="reject">
  </div>

</form>

<section class="col-xs-12 col-sm-10 col-sm-offset-1 text-center margin-vertical-50 margin-vertical-30-xs font-size-13-xs">

  <label ng-repeat="plano in ctrl.planos" class="col-xs-6 col-sm-3 border-default-right margin-top-10-xs padding-0" ng-class="{'no-border-xs':$index%2}">
    <span ng-bind="plano.plan"></span><br>
    <span class="text-center font-size-20 margin-top-5 block" ng-if="!(tempo && preco)">-</span>
    <span ng-if="tempo && preco">
      R$ <span ng-bind="preco.calcular(tempo, plano) | parseInt" class="font-size-30 font-size-20-xs font-weight-normal"></span>,
      <span ng-bind="(preco.calcular(tempo, plano) | number:2).toString().split('.')[1]"></span>
    </span>
  </label>

  <label class="col-xs-6 col-sm-3 margin-top-10-xs padding-0">
    Normal<br>
    <span class="text-center font-size-20 margin-top-5 block" ng-if="!(tempo && preco)">-</span>
    <span ng-if="tempo && preco">
      R$ <span ng-bind="preco.calcular(tempo) | parseInt" class="font-size-30 font-size-20-xs font-weight-normal"></span>,
      <span ng-bind="(preco.calcular(tempo) | number:2).toString().split('.')[1]"></span>
    </span>
  </label>

</section>
